.nav-bar{
    background-color: #000000;
    /* position: fixed; */
    width: 100%;
}
.filter-bar{
    background-color: #0B60B0;
}

.li{
    list-style-type: none;
}

.body{
    background-color: #E9F6FF;
}
/* #card-inner{
    background-color: black;
} */

.card{
    background-color: #F0EDCF
}